geopandas==0.6.3
country_converter==0.6.7
reverse_geocoder==1.5.1
Cartopy==0.17.0
scipy==1.3.1
Fiona==1.8.13
numpy==1.18.0
Shapely==1.6.4.post2
PyCristoforo==2.0.0
networkx==2.4
matplotlib==3.1.1
PyQt5==5.14.1
